.contents.row
  .btn-group.btn-group-justified
    %a.btn.btn-default{href: "/tweets/new"} + 新しいメッセージ
    %a.btn.btn-default{href: "/tweets/new"} + 新しい句会を企画
    %a.btn.btn-default{href: "/tweets/new"} + 新しい句会を記録

  - @tweets.each do |tweet|
    = render partial: "tweet", locals: { tweet: tweet }
